body {
  background-color: $darkest;
  color: $light1;
  font-size: 2rem;

  header {
    h1 {
      min-width: 40rem;
      word-break: keep-all;
    }

    // display: flex;
    justify-content: space-between;
  }

  main, > header {
    width: 95%;
    margin: auto;
  }

  form {
    @include font-scale;

    font-size: 1rem;
    margin: 2rem 0;

    input {
      @include font-scale;
      font-size: 2em !important;
      min-width: 12rem;
      max-width: 30rem;
      color: $light1;
    }
  }

  button {
    @include font-scale;

    background-color: $dark1;
    color: $light1;
    text-align: right;

    &#disconnect {
      margin-left: 50rem;
    }
  }


  main {
    // display: flex;

    #chat #chatbox {
      @include font-scale;
      display: flex;
      flex-direction: column;
      margin: 4rem 0;
      padding: 0.1em 1em;
      border-radius: $radius;
      color: aqua;
      background-color: rgb(90, 111, 119);
      min-height: 30rem;
      max-width: 40rem;

      li:after {
        content: "\A";
        float: left;
        white-space: pre;
      }

      .right {
        text-align: right;
      }
    }
  }
}