body {
  background-color: $darkest;
  color: $light1;
  font-size: 2rem;

  #header, #main {
    width: 95%;
    margin: auto;
  }

  #header .login {
    display: flex;
    justify-content: space-between;


    main, .connect {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  form {
    @include font-scale;

    font-size: 1rem;
    margin: 2rem 0;

    input {
      @include font-scale;
      font-size: 2em !important;
      min-width: 12rem;
      max-width: 30rem;
      color: $light1;
    }
  }

  button {
    @include font-scale;
  }
}